<% layout("/layouts/boilerplate") %>            
<!-- used to add the boilerplate  -->
<link rel="stylesheet" href="/css/index.css">
<body>
    <div id="filters">
        <div class="filter">
            <button value="Trending" class="filter-btn"><i class="fa-solid fa-fire"></i></button>
            <P>Trending</P>
        </div>
        <div class="filter">
            <button value="Rooms" class="filter-btn"><i class="fa-solid fa-bed"></i></button>
            <P>Rooms</P>
        </div>
        <div class="filter">
            <button value="Iconic Cities" class="filter-btn"><i class="fa-solid fa-mountain-city"></i></button>
            <P>Iconic Cities</P>
        </div>
        <div class="filter">
            <button value="Mountains" class="filter-btn"><i class="fa-solid fa-mountain"></i></button>
            <P>Mountains</P>
        </div>
        <div class="filter">
            <button value="Castles" class="filter-btn"><i class="fa-brands fa-fort-awesome"></i></button>
            <P>Castles</P>
        </div>
        <div class="filter">
            <button value="Amazing Pools" class="filter-btn"><i class="fa-solid fa-person-swimming"></i></button>
            <P>Amazing Pools</P>
        </div>
        <div class="filter">
            <button value="Camping" class="filter-btn"><i class="fa-solid fa-campground"></i></button>
            <P>Camping</P>
        </div>
        <div class="filter">
            <button value="Farms" class="filter-btn"><i class="fa-solid fa-cow"></i></button>
            <P>Farms</P>
        </div>
        <div class="filter">
            <button value="Arctic" class="filter-btn"><i class="fa-regular fa-snowflake"></i></button>
            <P>Arctic</P>
        </div>
        <div class="filter">
            <button value="Domes" class="filter-btn"><i class="fa-solid fa-igloo"></i></button>
            <P>Domes</P>
        </div>
        <div class="filter">
            <button value="Boats" class="filter-btn"><i class="fa-solid fa-ship"></i></button>
            <P>Boats</P>
        </div>
    </div>
    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
          </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 mt-3">
        <% for(listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>        <!-- to write something on the card (used for hover effect) -->
                    <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title%><br></b>
                        &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
                        <i class="tax-info">&nbsp; &nbsp; + 18% GST</i>
                    </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>



