#filters {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}
.filter, .filter2 {
    text-align: center;
    margin-top : 2rem;
    margin-right: 2rem;
    opacity: 0.7;
}
.filter,.filter2:hover {
    opacity: 1;
    cursor: pointer;
}
.filter p {
    font-size: 0.8rem;
}
.dropdown {
    display: none;
    margin-top: 2rem;
}
/* @media(max-width : 992px ) {
    .dropdown {
        display: inline;
    }
    .filter2 {
        display: inline;
    }
    
}
@media(max-width : 992px ) {
    .filter {
        display: none;
    }  
} */



.tax-info {
    display: none;
}
.tax-toggle {
    border : 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding : 1rem;
    margin-left: 2rem;
    display: inline-flex;
    align-items: center;
}

/* on phone for filters */
@media(max-width : 391px) {     
    #filters {
        /* display: none; */
        flex-wrap: nowrap;
        height: 100px;
        display: flex;
    }  
    .tax-toggle {
        margin-left : 0.5rem;
        margin-top : 1rem
    }
} 

.filter-btn {
    all: unset;
}

.nav-link {
    background-color: white;
}